<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TrungTamJava_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>requestDemo</servlet-name>
		<servlet-class>bai6.ServletRequestDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestDemo</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>1</session-timeout>	<!--  Thiết lập thời gian sống cho session là 1 phút, sau 1 phút nó bị xóa -->
	</session-config>
	

	<filter>
		<filter-name>logger</filter-name>
		<filter-class>bai24_filter.Logger</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logger</filter-name>
		<url-pattern>/servlet1</url-pattern>	<!-- Bất cứ khi nào gọi đến url /servlet1 thì nó sẽ phải đi qua filter này. Hay nó đơn giản: url-pattern là url của servlet đích mà muốn nó qua filter -->
		<!-- Nếu dùng như sau: <url-pattern>/</url-pattern> thì tất cả các lời gọi servlet1, servlet2,... đều đi qua filter logger--> 
	</filter-mapping>
</web-app>